.footer {
  &__link {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-user {
      &-img {
        width: 26px;
        vertical-align: middle;
      }
    }

    &-school {
      display: flex;
      align-items: center;

      &-img {
        width: 70px;
        vertical-align: middle;
      }
    }

    &-year {
    }
  }
}
