<footer class="footer">
  <div class="container">
    <div class="footer__link">
      <a href="https://github.com/dzmitrymukaseyeu" target="_blanc" class="footer__link-user">
        <img src="/assets/github-icon.svg" alt="github-icon" class="footer__link-user-img">
      </a>
      <a href="https://rs.school/js/" target="_blanc" class="footer__link-school">
        <img src="/assets/rs_school_js.svg" alt="rs_school_js" class="footer__link-school-img">
      </a>
      <span class="footer__link-year">2021</span>
    </div>
  </div>
</footer>
