<footer class="footer">
  <div class="container">
    <div class="footer__link">
      <a href="https://github.com/dzmitrymukaseyeu" target="_blanc" class="footer__link-logo">
        <img src="/assets/github-icon.svg" alt="github-icon" class="footer__link-logo-img">
      </a>
      <span class="footer__link-year">2021</span>
      <a href="https://www.linkedin.com/in/dmitrii-mukaseev" target="_blanc" class="footer__link-logo">
        <img src="/assets/iconmonstr-linkedin.svg" alt="linkedin" class="footer__link-logo-img">
      </a>
    </div>
  </div>
</footer>
