.footer {
  flex-shrink: 0;

  &__link {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      &-img {
        width: 28px;
        vertical-align: middle;
      }
    }
  }
}
