.s-home {
  flex: 1 0 auto;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.b-home {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: 50px;
      margin-bottom: 30px;
      text-align: center;
      line-height: 1.5;
    }

    &-text {
      max-width: 400px;
      font-size: 15px;
      text-align: center;
      margin-bottom: 20px;
    }

    &-link {
      font-size: 18px;
      position: relative;
      padding: 5px 0;
      color: #3f51b5;

      &::after {
        position: absolute;
        content: "";
        height: 3px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #3f51b5;
        transition: transform 0.2s ease-out;
        transform: scaleX(0);
        transform-origin: 0;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
