<section class="s-home">
  <div class="container">
    <div class="b-home">
      <div class="b-home__content">
        <h1 class="b-home__content-title">Welcome to EBook Library</h1>
        <span class="b-home__content-text">The EBook Library project makes it possible for users to search info about books such as genre,
          description, date of publishing etc.</span>
          <a
            mat-raised-button
            routerLink="books"
            color="primary"
            class="b-home__content-link"
          >
            Go to catalog
          </a>
      </div>
    </div>
  </div>
</section>
